In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta
import pytz

# 1. Binance API

#### <b> Columns meanings: </b>
1) <b>Open time:</b> The timestamp marking the start of the kline/candlestick interval (in milliseconds).
2) <b>Open:</b> The price of the first trade during the kline/candlestick interval.
3) <b>High:</b> The highest price reached during the kline/candlestick interval.
4) <b>Low:</b> The lowest price reached during the kline/candlestick interval.
5) <b>Close:</b> The price of the last trade during the kline/candlestick interval.
6) <b>Volume:</b> The total trading volume of the base asset during the kline/candlestick interval. (<b>Example:</b> If the trading pair is BTC/USDT and the volume is 100, it means 100 BTC were traded during the interval.)
7) <b>Close time:</b> The timestamp marking the end of the kline/candlestick interval (in milliseconds).
8) <b>Quote asset volume:</b> The total trading volume of the quote asset during the kline/candlestick interval. (<b>Example:</b>  For the BTC/USDT pair, if the quote asset volume is 500,000, it means the equivalent of 500,000 USDT was traded during the interval.)
9) <b>Number of trades:</b> The total number of trades executed during the kline/candlestick interval. (<b>Example:</b>  If the number of trades is 250, it means there were 250 separate transactions during the interval.)
10) <b>Taker buy base asset volume:</b> The volume of the base asset bought by takers during the kline/candlestick interval. (<b>Example:</b>  For BTC/USDT, if the taker buy base asset volume is 60, it means takers bought 60 BTC during the interval.
<b>Takers:</b> Takers are traders who execute market orders that match existing orders on the order book, essentially removing liquidity.)
11) <b>Taker buy quote asset volume:</b> The volume of the quote asset spent to buy the base asset by takers during the kline/candlestick interval. (<b>Example:</b> For BTC/USDT, if the taker buy quote asset volume is 300,000, it means takers spent 300,000 USDT to buy BTC during the interval.)
12) <b>Ignore:</b> A placeholder field that can be ignored. It does not hold meaningful data.

In [2]:
def get_historical_klines(symbol, interval, start_str, end_str= None):
    """
        params: 
            'symbol' - currency, e.g. 'BTCUSDT', 'ETHUSDT', 'BNBUSDT', 'ADAUSDT', 'XRPUSDT', 'SOLUSDT'
            'interval' - one of these values '1m', '3m', '5m', '15m', '30m', '1h', '2h',
                                            '4h', '6h', '8h', '12h', '1d', '3d', '1w', '1M'.
    """
    url = 'https://api.binance.com/api/v3/klines'
    params = {
        'symbol': symbol,
        'interval': interval,
        'startTime': start_str,
    }
    if end_str:
        params['endTime'] = end_str
    response = requests.get(url, params=params)
    data = response.json()
    print(type(data))
    
    # Parse the data into a DataFrame
    columns = [
        'Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time',
        'Quote asset volume', 'Number of trades', 'Taker buy base asset volume',
        'Taker buy quote asset volume', 'Ignore'
    ]
    df = pd.DataFrame(data, columns=columns)
    
    # Convert the timestamp columns to datetime
    df['Open time'] = pd.to_datetime(df['Open time'], unit='ms')
    df['Close time'] = pd.to_datetime(df['Close time'], unit='ms')
    
    # Set the index to the open time
    #df.set_index('Open time', inplace=True)
    df.rename(
        columns={
                "Open time": "Open_time", 
                "Close time": "Close_time",
                "Quote asset volume": "Quote_asset_volume",
                "Number of trades": "Number_of_trades",
                "Taker buy base asset volume": "Taker_buy_base_asset_volume",
                "Taker buy quote asset volume": "Taker_buy_quote_asset_volume"
        }
    )
    
    return df

In [3]:
# Define interaval

# Define startTime
date_string = datetime(
    year=2015, month=9, day=24, 
    hour=0, minute=0, second=0,
    tzinfo=pytz.UTC
)
start_str = int(date_string.timestamp() * 1000)

# Define endTime
end_date_string = datetime(
    year=2019, month=10, day=24, 
    hour=23, minute=59, second=59,
    tzinfo=pytz.UTC
)
end_start_str = int(end_date_string.timestamp() * 1000)

In [5]:
# Example usage

# Define currency
symbol = 'BTCUSDT'

# Define interval
interval = '1h' 

btc_data = get_historical_klines(symbol, interval, start_str, end_start_str) # end_start_str
print(f"Data for interval: {btc_data.index.min()}-{btc_data.index.max()}")

btc_data.head()

<class 'list'>
Data for interval: 0-499

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2017-08-17 04:00:00,4261.48000000,4313.62000000,4261.32000000,4308.83000000,47.18100900,2017-08-17 04:59:59.999,202366.13839304,171,35.16050300,150952.47794304,0
1,2017-08-17 05:00:00,4308.83000000,4328.69000000,4291.37000000,4315.32000000,23.23491600,2017-08-17 05:59:59.999,100304.82356749,102,21.44807100,92608.27972836,0
2,2017-08-17 06:00:00,4330.29000000,4345.45000000,4309.37000000,4324.35000000,7.22969100,2017-08-17 06:59:59.999,31282.31266989,36,4.80286100,20795.31722405,0
3,2017-08-17 07:00:00,4316.62000000,4349.99000000,4287.41000000,4349.99000000,4.44324900,2017-08-17 07:59:59.999,19241.05829986,25,2.60229200,11291.34701534,0
4,2017-08-17 08:00:00,4333.32000000,4377.85000000,4333.32000000,4360.69000000,0.97280700,2017-08-17 08:59:59.999,4239.50358563,28,0.81465500,3552.74681715,0

# =============================================================================
# Далее по мере внедрения новых источников данных надо организовать вкладки для них 
# =============================================================================

# 2.Alpha Vantage API for abroad stocks!!! WHY here isn't today data but only yesterday !!!

### https://www.alphavantage.co/documentation/

# !!! WHY here isn't today data but only yesterday !!! возможно потому что биржа открыта с 16:30 по 23:00 по мск

In [197]:
def get_stock_data(symbol, api_key):
    """

    """
    api_key = 'QIQY5CY2F1DQ6CA8' # !!! HIDE 
    url = f'https://www.alphavantage.co/query'
    
    params = {
        'function': 'TIME_SERIES_INTRADAY', # TIME_SERIES_INTRADAY, TIME_SERIES_DAILY, TIME_SERIES_WEEKLY, TIME_SERIES_WEEKLY (+'_ADJUSTED')
        'interval': '1min',
        'symbol': symbol,
        'apikey': api_key,
        'outputsize': 'full',
        #'month':'2024-06' # to query a specific month in history
    }
    
    response = requests.get(url, params=params).json()
    #res_dataframe = pd.DataFrame(pd.DataFrame(response[list(response.keys())[-1]]).transpose())
    #res_dataframe['Symbol'] = response[list(response.keys())[0]]['2. Symbol']
    #res_dataframe['LastRefreshed'] = response[list(response.keys())[0]]['3. Last Refreshed']
    #res_dataframe['Interval'] = response[list(response.keys())[0]]['4. Interval']
    #res_dataframe['OutputSize'] = response[list(response.keys())[0]]['5. Output Size']
    #res_dataframe['Time Zone'] = response[list(response.keys())[0]]['6. Time Zone']
    return response


response_stock_data = get_stock_data('AAPL', api_key) # AAPL, COP , GAZP.ME

# Print a sample of the data
response_stock_data

{'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

In [177]:
def get_technical_indicators(symbol, interval, time_period, series_type, api_key):
    api_key = 'QIQY5CY2F1DQ6CA8' # !!! HIDE Alpha Vantage API key
    url = 'https://www.alphavantage.co/query'
    
    params = {
        'function': 'SMA', # SMA(Simple Moving Average), EMA(Exponential Moving Average) , WMA(Weighted Moving Average), DEMA and many many other 
        'symbol': symbol,
        'interval': interval,
        'time_period': time_period,
        'series_type': series_type,
        'apikey': api_key
    }
    response = requests.get(url, params=params).json()
    res_dataframe = pd.DataFrame(pd.DataFrame(response[list(response.keys())[-1]]).transpose())
    res_dataframe['Symbol'] = response[list(response.keys())[0]]['1: Symbol']
    res_dataframe['Indicator'] = response[list(response.keys())[0]]['2: Indicator']
    res_dataframe['LastRefreshed'] = response[list(response.keys())[0]]['3: Last Refreshed']
    res_dataframe['Interval'] = response[list(response.keys())[0]]['4: Interval']
    res_dataframe['TimePeriod'] = response[list(response.keys())[0]]['5: Time Period']
    res_dataframe['SeriesType'] = response[list(response.keys())[0]]['6: Series Type']
    res_dataframe['TimeZone'] = response[list(response.keys())[0]]['7: Time Zone']

    return res_dataframe


# Parameters for the SMA
symbol = 'AAPL'  # Example stock symbol
interval = 'daily'  # Interval can be '1min', '5min', '15min', '30min', '60min', 'daily', 'weekly', 'monthly'
time_period = 20  # The number of data points used to calculate the SMA(Simple Moving Average) 
series_type = 'close'  # The desired price type in the time series ('close', 'open', 'high', 'low')

# Fetch SMA data
sma_data = get_technical_indicators(symbol, interval, time_period, series_type, api_key)

# Print a sample of the data
sma_data

,SMA,Symbol,Indicator,LastRefreshed,Interval,TimePeriod,SeriesType,TimeZone
2024-06-25,202.2425,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
2024-06-24,201.2880,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
2024-06-21,200.2250,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
2024-06-20,199.3955,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
2024-06-18,198.5290,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
...,...,...,...,...,...,...,...,...
1999-12-03,0.7153,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
1999-12-02,0.7035,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
1999-12-01,0.6927,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
1999-11-30,0.6840,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern
1999-11-29,0.6764,AAPL,Simple Moving Average (SMA),2024-06-25,daily,20,close,US/Eastern

#  3. yfinance - extra example

In [9]:
import yfinance as yf

# Define the ticker symbol
symbol = 'AAPL'

# Define the date range (1 year ago from today)
end_date = datetime.today() # datetime(2024, 6, 26, 9, 30, 0) #datetime.today()
start_date = end_date - timedelta(days=6)

# Fetch historical data
data = yf.download(symbol, start=start_date, end=end_date, interval='1m')

# Print the data
print(data)

[*********************100%%**********************]  1 of 1 completed

                                 Open        High         Low       Close  \
Datetime
2024-07-02 14:29:00-04:00  220.029999  220.070007  220.000000  220.029999
2024-07-02 14:30:00-04:00  220.029999  220.044998  219.820007  219.839996
2024-07-02 14:31:00-04:00  219.846893  219.854996  219.720001  219.744705
2024-07-02 14:32:00-04:00  219.764999  219.800003  219.669998  219.729996
2024-07-02 14:33:00-04:00  219.729996  219.860001  219.680099  219.720001
...                               ...         ...         ...         ...
2024-07-05 15:55:00-04:00  225.975006  226.199997  225.919998  226.182297
2024-07-05 15:56:00-04:00  226.190002  226.250000  226.139999  226.244995
2024-07-05 15:57:00-04:00  226.242798  226.345001  226.169998  226.315002
2024-07-05 15:58:00-04:00  226.315002  226.437500  226.264999  226.425003
2024-07-05 15:59:00-04:00  226.425003  226.449997  226.279999  226.309998

                            Adj Close  Volume
Datetime
2024-07-02 14:29:00-04:00  220.029999       0
2024-07-02 14:30:00-04:00  219.839996   81956
2024-07-02 14:31:00-04:00  219.744705   85864
2024-07-02 14:32:00-04:00  219.729996   81180
2024-07-02 14:33:00-04:00  219.720001   75347
...                               ...     ...
2024-07-05 15:55:00-04:00  226.182297  447877
2024-07-05 15:56:00-04:00  226.244995  305291
2024-07-05 15:57:00-04:00  226.315002  431918
2024-07-05 15:58:00-04:00  226.425003  458002
2024-07-05 15:59:00-04:00  226.309998  901032

[687 rows x 6 columns]

# 4. Tinkoff API for russion stocks

In [171]:
import os
from datetime import datetime, timedelta
from tinkoff.invest import CandleInterval, Client, InstrumentStatus
from tinkoff.invest.schemas import CandleSource
from tinkoff.invest.utils import now

# Ensure you have the necessary Tinkoff API client library installed and imported correctly

TOKEN = 't.hSZNWYEejBjbpOUElGGm7MbaL9xH5Lccgy3i6BElx9x3N7GSLvZpiIazGQxWJHwddVJ3KAFh0tA8P6wJYZi0WA'  # Replace with your actual Tinkoff API token

# Define instrument ID (FIGI) for GAZP.ME or any other instrument
instrument_id = "BBG004730RP0"  # Replace with the correct FIGI for your instrument

with Client(TOKEN) as client:
    tool = client.instruments
    r = pd.DataFrame(tool.shares(instrument_status=InstrumentStatus.INSTRUMENT_STATUS_ALL).instruments,
    columns=['name', 'figi','ticker','class_code']
                    )
    for candle in client.get_all_candles(
        instrument_id="BBG004730RP0",
        from_=now() - timedelta(days=60),
        interval=CandleInterval.CANDLE_INTERVAL_MONTH,
        candle_source_type=CandleSource.CANDLE_SOURCE_UNSPECIFIED,
    ):
        print(candle)

HistoricCandle(open=Quotation(units=157, nano=630000000), high=Quotation(units=168, nano=150000000), low=Quotation(units=157, nano=430000000), close=Quotation(units=163, nano=220000000), volume=59265880, time=datetime.datetime(2024, 4, 1, 0, 0, tzinfo=datetime.timezone.utc), is_complete=True, candle_source=<CandleSource.CANDLE_SOURCE_EXCHANGE: 1>)
HistoricCandle(open=Quotation(units=163, nano=290000000), high=Quotation(units=165, nano=360000000), low=Quotation(units=123, nano=260000000), close=Quotation(units=126, nano=460000000), volume=124745825, time=datetime.datetime(2024, 5, 1, 0, 0, tzinfo=datetime.timezone.utc), is_complete=True, candle_source=<CandleSource.CANDLE_SOURCE_EXCHANGE: 1>)
HistoricCandle(open=Quotation(units=126, nano=680000000), high=Quotation(units=128, nano=610000000), low=Quotation(units=110, nano=0), close=Quotation(units=116, nano=430000000), volume=92964454, time=datetime.datetime(2024, 6, 1, 0, 0, tzinfo=datetime.timezone.utc), is_complete=False, candle_source=<CandleSource.CANDLE_SOURCE_EXCHANGE: 1>)

In [165]:
r.loc[r.name == 'Газпром']

         name          figi        ticker class_code
449   Газпром  TCS207661625  RU0007661625     TILA21
902   Газпром  TCSS07661625          GAZP       SPEQ
1176  Газпром  TCS007661625          GAZP       SMAL
8483  Газпром  BBG004730RP0          GAZP       TQBR

In [19]:
import ccxt
import pandas as pd

# Создайте экземпляр биржи Binance
binance = ccxt.binance()

# Загрузите исторические данные по паре BTC/USDT
since = binance.parse8601('2018-02-08T00:00:00Z')
ohlcv = binance.fetch_ohlcv('BTC/USDT', '1h', since, limit=100)

# Преобразуйте данные в DataFrame
df = pd.DataFrame(ohlcv, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

# Выведите полученные данные
df.head(50)

             timestamp     open     high      low    close       volume
0  2018-02-08 00:00:00  7599.00  7844.00  7572.09  7784.02  1521.537318
1  2018-02-09 10:00:00  7789.90  8390.00  7789.90  8269.84  2131.598280
2  2018-02-09 11:00:00  8260.24  8395.00  8227.82  8280.11  1352.206959
3  2018-02-09 12:00:00  8288.03  8300.00  8201.95  8241.00  1003.312642
4  2018-02-09 13:00:00  8241.00  8340.00  8225.00  8309.95  1169.015154
5  2018-02-09 14:00:00  8309.95  8540.00  8285.15  8450.49  2399.571661
6  2018-02-09 15:00:00  8460.97  8510.00  8312.00  8333.91  1471.127073
7  2018-02-09 16:00:00  8333.98  8432.51  8312.00  8383.11  1189.651658
8  2018-02-09 17:00:00  8383.11  8718.00  8372.69  8625.00  2086.817085
9  2018-02-09 18:00:00  8627.00  8738.00  8565.01  8624.60  1615.835729
10 2018-02-09 19:00:00  8624.59  8719.99  8593.24  8633.15  1051.767967
11 2018-02-09 20:00:00  8638.05  8720.04  8509.30  8539.23  1316.477151
12 2018-02-09 21:00:00  8538.96  8650.00  8403.00  8537.98  1367.495742
13 2018-02-09 22:00:00  8537.81  8622.56  8447.63  8566.00  1056.235550
14 2018-02-09 23:00:00  8565.92  8719.10  8550.93  8683.92  1271.798174
15 2018-02-10 00:00:00  8683.93  8897.11  8601.00  8879.60  2751.482468
16 2018-02-10 01:00:00  8878.94  8950.00  8750.00  8780.36  2365.600249
17 2018-02-10 02:00:00  8784.36  8933.00  8761.15  8914.29  1340.086533
18 2018-02-10 03:00:00  8914.29  8997.00  8860.00  8905.84  1536.333505
19 2018-02-10 04:00:00  8905.84  8920.00  8760.00  8774.69  1706.087906
20 2018-02-10 05:00:00  8763.86  8910.00  8763.83  8842.98   879.090973
21 2018-02-10 06:00:00  8842.98  9050.00  8842.98  9034.97  1015.576553
22 2018-02-10 07:00:00  9034.97  9065.78  8871.89  8915.15  1991.768563
23 2018-02-10 08:00:00  8915.15  8920.17  8577.61  8610.47  3260.294034
24 2018-02-10 09:00:00  8610.01  8761.22  8571.50  8601.80  2151.322217
25 2018-02-10 10:00:00  8601.80  8667.66  8470.00  8481.00  2245.069485
26 2018-02-10 11:00:00  8481.00  8685.99  8477.00  8635.99  1652.922625
27 2018-02-10 12:00:00  8626.12  8649.00  8480.00  8600.00  1582.034191
28 2018-02-10 13:00:00  8599.75  8783.19  8587.77  8730.01  1784.821710
29 2018-02-10 14:00:00  8727.97  8800.00  8571.00  8604.92  1960.309229
30 2018-02-10 15:00:00  8599.70  8612.79  8231.00  8263.51  4342.331134
31 2018-02-10 16:00:00  8271.00  8420.00  8120.00  8185.98  3392.525961
32 2018-02-10 17:00:00  8188.00  8448.00  8179.00  8391.92  2312.582498
33 2018-02-10 18:00:00  8388.99  8419.00  8268.01  8272.59  1596.975551
34 2018-02-10 19:00:00  8272.92  8430.89  8212.50  8419.00  1585.628895
35 2018-02-10 20:00:00  8420.00  8422.00  8131.00  8170.98  1662.022932
36 2018-02-10 21:00:00  8170.98  8294.56  8125.00  8241.00  2253.197786
37 2018-02-10 22:00:00  8239.04  8570.00  8230.00  8539.99  2683.059409
38 2018-02-10 23:00:00  8539.98  8572.00  8451.00  8533.98  1330.388246
39 2018-02-11 00:00:00  8533.99  8549.00  8258.98  8378.10  1951.232464
40 2018-02-11 01:00:00  8378.10  8394.55  8164.03  8224.95  1852.464767
41 2018-02-11 02:00:00  8224.94  8269.65  8160.00  8236.81  1137.892902
42 2018-02-11 03:00:00  8227.42  8236.74  7956.00  7969.05  3104.736051
43 2018-02-11 04:00:00  7976.73  8098.00  7910.01  7925.49  1063.587297
44 2018-02-11 05:00:00  7925.49  8169.13  7911.54  8100.00  2283.915636
45 2018-02-11 06:00:00  8100.00  8105.00  7916.97  8011.35  2146.211704
46 2018-02-11 07:00:00  8011.36  8020.00  7800.00  7850.72  2257.903330
47 2018-02-11 08:00:00  7851.20  7925.00  7726.53  7909.98  2754.515163
48 2018-02-11 09:00:00  7909.98  8128.00  7819.55  8125.89  2478.366249
49 2018-02-11 10:00:00  8126.00  8141.00  7950.00  7988.10  1844.885744

In [29]:
df = pd.read_csv('../historical_data/btc_history.csv')
df['Timestamp'] = df['Timestamp'].apply(lambda a: datetime.fromtimestamp(a))
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4857372,1617148560,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
4857373,1617148620,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
4857374,1617148680,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
4857375,1617148740,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
4857376,1617148800,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [149]:
new_btc_data = btc_data.copy()

In [150]:
new_btc_data['Open time'] = pd.to_datetime(new_btc_data['Open time'])

In [151]:
new_btc_data['Open time'] = pd.to_datetime(new_btc_data['Open time'])
new_btc_data.set_index('Open time', inplace=True)

In [152]:
new_btc_data.head()

,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
Open time,,,,,,,,,,,
2018-02-01 00:00:00,10285.10000000,10335.00000000,10215.07000000,10263.18000000,594.44129000,2018-02-01 00:59:59.999,6115555.42732146,5895,279.12304600,2872194.05048160,0
2018-02-01 01:00:00,10263.18000000,10328.98000000,10216.00000000,10247.49000000,591.51572500,2018-02-01 01:59:59.999,6075265.65422887,7011,206.87583500,2125737.84705670,0
2018-02-01 02:00:00,10249.43000000,10317.73000000,10176.89000000,10199.61000000,479.41256200,2018-02-01 02:59:59.999,4925487.64559189,6550,208.08301600,2138136.03796232,0
2018-02-01 03:00:00,10199.61000000,10250.79000000,9959.04000000,10069.80000000,739.43530900,2018-02-01 03:59:59.999,7459189.67996952,9014,319.40746200,3218742.58923152,0
2018-02-01 04:00:00,10069.77000000,10256.00000000,10000.01000000,10245.79000000,649.93985400,2018-02-01 04:59:59.999,6582218.41977594,7431,387.99948300,3929931.38684970,0

In [158]:
pd.date_range(start='2024-07-02 00:00:00', end='2024-07-20 00:00:00', freq='3d')

DatetimeIndex(['2024-07-02', '2024-07-05', '2024-07-08', '2024-07-11',
               '2024-07-14', '2024-07-17', '2024-07-20'],
              dtype='datetime64[ns]', freq='3D')

In [156]:
full_time_index = pd.date_range(start='2/1/2018', end='2/28/2018 23:00:00', freq='1h')
full_time = pd.DataFrame(full_time_index, columns=['Open time']).set_index('Open time')
full_time[165:218]

Empty DataFrame
Columns: []
Index: [2018-02-07 21:00:00, 2018-02-07 22:00:00, 2018-02-07 23:00:00, 2018-02-08 00:00:00, 2018-02-08 01:00:00, 2018-02-08 02:00:00, 2018-02-08 03:00:00, 2018-02-08 04:00:00, 2018-02-08 05:00:00, 2018-02-08 06:00:00, 2018-02-08 07:00:00, 2018-02-08 08:00:00, 2018-02-08 09:00:00, 2018-02-08 10:00:00, 2018-02-08 11:00:00, 2018-02-08 12:00:00, 2018-02-08 13:00:00, 2018-02-08 14:00:00, 2018-02-08 15:00:00, 2018-02-08 16:00:00, 2018-02-08 17:00:00, 2018-02-08 18:00:00, 2018-02-08 19:00:00, 2018-02-08 20:00:00, 2018-02-08 21:00:00, 2018-02-08 22:00:00, 2018-02-08 23:00:00, 2018-02-09 00:00:00, 2018-02-09 01:00:00, 2018-02-09 02:00:00, 2018-02-09 03:00:00, 2018-02-09 04:00:00, 2018-02-09 05:00:00, 2018-02-09 06:00:00, 2018-02-09 07:00:00, 2018-02-09 08:00:00, 2018-02-09 09:00:00, 2018-02-09 10:00:00, 2018-02-09 11:00:00, 2018-02-09 12:00:00, 2018-02-09 13:00:00, 2018-02-09 14:00:00, 2018-02-09 15:00:00, 2018-02-09 16:00:00, 2018-02-09 17:00:00, 2018-02-09 18:00:00, 2018-02-09 19:00:00, 2018-02-09 20:00:00, 2018-02-09 21:00:00, 2018-02-09 22:00:00, 2018-02-09 23:00:00, 2018-02-10 00:00:00, 2018-02-10 01:00:00]

In [154]:
new_df = full_time.merge(btc_data, on='Open time', how='outer')

In [157]:
new_df[165:218]

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
165,2018-02-07 21:00:00,8126.96000000,8259.12000000,8000.00000000,8080.04000000,1103.98055600,2018-02-07 21:59:59.999,8965094.03124953,11695.0,500.46729500,4067505.04451966,0
166,2018-02-07 22:00:00,8073.00000000,8078.26000000,7732.35000000,7781.00000000,2984.32312600,2018-02-07 22:59:59.999,23471550.51279152,20148.0,1211.10782100,9527480.37007567,0
167,2018-02-07 23:00:00,7781.00000000,7818.06000000,7531.11000000,7599.00000000,4304.27775200,2018-02-07 23:59:59.999,32850404.38357698,26100.0,1668.70723400,12746735.51575460,0
168,2018-02-08 00:00:00,7599.00000000,7844.00000000,7572.09000000,7784.02000000,1521.53731800,2018-02-08 00:28:14.788,11770168.04386595,12417.0,844.25881300,6532638.63751892,0
169,2018-02-08 01:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
170,2018-02-08 02:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
171,2018-02-08 03:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
172,2018-02-08 04:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
173,2018-02-08 05:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
174,2018-02-08 06:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
175,2018-02-08 07:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
176,2018-02-08 08:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
177,2018-02-08 09:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
178,2018-02-08 10:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
179,2018-02-08 11:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
180,2018-02-08 12:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
181,2018-02-08 13:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
182,2018-02-08 14:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
183,2018-02-08 15:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
184,2018-02-08 16:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
185,2018-02-08 17:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
186,2018-02-08 18:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
187,2018-02-08 19:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
188,2018-02-08 20:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
189,2018-02-08 21:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
190,2018-02-08 22:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
191,2018-02-08 23:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
192,2018-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
193,2018-02-09 01:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
194,2018-02-09 02:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
195,2018-02-09 03:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
196,2018-02-09 04:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
197,2018-02-09 05:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
198,2018-02-09 06:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
199,2018-02-09 07:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
200,2018-02-09 08:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
201,2018-02-09 09:00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
202,2018-02-09 10:00:00,7789.90000000,8390.00000000,7789.90000000,8269.84000000,2131.59828000,2018-02-09 10:59:59.999,17618719.58965928,16314.0,982.32519800,8107151.78985174,0
203,2018-02-09 11:00:00,8260.24000000,8395.00000000,8227.82000000,8280.11000000,1352.20695900,2018-02-09 11:59:59.999,11236649.80214881,13433.0,623.42000900,5179743.31584929,0
204,2018-02-09 12:00:00,8288.03000000,8300.00000000,8201.95000000,8241.00000000,1003.31264200,2018-02-09 12:59:59.999,8279656.02929862,11802.0,459.93900500,3796030.86313061,0
205,2018-02-09 13:00:00,8241.00000000,8340.00000000,8225.00000000,8309.95000000,1169.01515400,2018-02-09 13:59:59.999,9691014.35504214,13864.0,540.89517100,4484503.87229019,0
206,2018-02-09 14:00:00,8309.95000000,8540.00000000,8285.15000000,8450.49000000,2399.57166100,2018-02-09 14:59:59.999,20243414.56061404,22129.0,1272.55521000,10738015.51124332,0
207,2018-02-09 15:00:00,8460.97000000,8510.00000000,8312.00000000,8333.91000000,1471.12707300,2018-02-09 15:59:59.999,12354360.24657633,18496.0,717.34482400,6023329.81555233,0
208,2018-02-09 16:00:00,8333.98000000,8432.51000000,8312.00000000,8383.11000000,1189.65165800,2018-02-09 16:59:59.999,9973053.39792863,17029.0,592.79494200,4969170.04760627,0
209,2018-02-09 17:00:00,8383.11000000,8718.00000000,8372.69000000,8625.00000000,2086.81708500,2018-02-09 17:59:59.999,17866788.61242256,25787.0,1281.65593700,10963355.43250119,0
210,2018-02-09 18:00:00,8627.00000000,8738.00000000,8565.01000000,8624.60000000,1615.83572900,2018-02-09 18:59:59.999,13976650.64811763,27210.0,845.84803200,7317401.37603121,0
211,2018-02-09 19:00:00,8624.59000000,8719.99000000,8593.24000000,8633.15000000,1051.76796700,2018-02-09 19:59:59.999,9118361.79939796,20743.0,528.01367200,4578335.60154802,0
212,2018-02-09 20:00:00,8638.05000000,8720.04000000,8509.30000000,8539.23000000,1316.47715100,2018-02-09 20:59:59.999,11330246.00913574,24200.0,677.33954800,5828914.50889073,0
213,2018-02-09 21:00:00,8538.96000000,8650.00000000,8403.00000000,8537.98000000,1367.49574200,2018-02-09 21:59:59.999,11651730.41702714,24071.0,677.58248600,5773035.07035239,0
214,2018-02-09 22:00:00,8537.81000000,8622.56000000,8447.63000000,8566.00000000,1056.23555000,2018-02-09 22:59:59.999,9003412.89226067,21348.0,477.39843800,4069326.92420768,0
215,2018-02-09 23:00:00,8565.92000000,8719.10000000,8550.93000000,8683.92000000,1271.79817400,2018-02-09 23:59:59.999,11004411.45224937,16665.0,726.92832000,6289247.99191007,0
216,2018-02-10 00:00:00,8683.93000000,8897.11000000,8601.00000000,8879.60000000,2751.48246800,2018-02-10 00:59:59.999,24211211.97887460,25295.0,1461.89869700,12860118.35856027,0
217,2018-02-10 01:00:00,8878.94000000,8950.00000000,8750.00000000,8780.36000000,2365.60024900,2018-02-10 01:59:59.999,20958779.50943467,26636.0,1256.32099100,11133084.14378202,0

In [120]:
for col in new_df.select_dtypes(include='object').columns:
    if col != 'Open time' and col != 'Close time':
        new_df[col] = pd.to_numeric(new_df[col], errors='coerce')

In [141]:
new_df.dtypes

Open                                   float64
High                                   float64
Low                                    float64
Close                                  float64
Volume                                 float64
Close time                      datetime64[ns]
Quote asset volume                     float64
Number of trades                       float64
Taker buy base asset volume            float64
Taker buy quote asset volume           float64
Ignore                                 float64
dtype: object

In [142]:
new_df.index = pd.DatetimeIndex(new_df.index)

In [161]:
pd.Timedelta(months=1, days=0,hours=23, minutes=59, seconds=59, milliseconds=999)

ValueError: cannot construct a Timedelta from the passed arguments, allowed keywords are [weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds]

In [143]:
new_df.index

DatetimeIndex(['2018-02-01 00:00:00', '2018-02-01 01:00:00',
               '2018-02-01 02:00:00', '2018-02-01 03:00:00',
               '2018-02-01 04:00:00', '2018-02-01 05:00:00',
               '2018-02-01 06:00:00', '2018-02-01 07:00:00',
               '2018-02-01 08:00:00', '2018-02-01 09:00:00',
               ...
               '2018-02-28 14:00:00', '2018-02-28 15:00:00',
               '2018-02-28 16:00:00', '2018-02-28 17:00:00',
               '2018-02-28 18:00:00', '2018-02-28 19:00:00',
               '2018-02-28 20:00:00', '2018-02-28 21:00:00',
               '2018-02-28 22:00:00', '2018-02-28 23:00:00'],
              dtype='datetime64[ns]', name='Open time', length=672, freq=None)

In [144]:


new_df.drop(columns=['Close time']).interpolate(method='time')[165:218]  # 'pad' 'linear'

,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
Open time,,,,,,,,,,
2018-02-07 21:00:00,8126.960000,8259.120000,8000.000000,8080.040000,1103.980556,8.965094e+06,11695.000000,500.467295,4.067505e+06,0.0
2018-02-07 22:00:00,8073.000000,8078.260000,7732.350000,7781.000000,2984.323126,2.347155e+07,20148.000000,1211.107821,9.527480e+06,0.0
2018-02-07 23:00:00,7781.000000,7818.060000,7531.110000,7599.000000,4304.277752,3.285040e+07,26100.000000,1668.707234,1.274674e+07,0.0
2018-02-08 00:00:00,7599.000000,7844.000000,7572.090000,7784.020000,1521.537318,1.177017e+07,12417.000000,844.258813,6.532639e+06,0.0
2018-02-08 01:00:00,7604.614706,7860.058824,7578.496176,7798.308824,1539.480287,1.194218e+07,12531.617647,848.319589,6.578948e+06,0.0
2018-02-08 02:00:00,7610.229412,7876.117647,7584.902353,7812.597647,1557.423257,1.211420e+07,12646.235294,852.380365,6.625257e+06,0.0
2018-02-08 03:00:00,7615.844118,7892.176471,7591.308529,7826.886471,1575.366226,1.228622e+07,12760.852941,856.441141,6.671566e+06,0.0
2018-02-08 04:00:00,7621.458824,7908.235294,7597.714706,7841.175294,1593.309196,1.245823e+07,12875.470588,860.501917,6.717875e+06,0.0
2018-02-08 05:00:00,7627.073529,7924.294118,7604.120882,7855.464118,1611.252165,1.263025e+07,12990.088235,864.562693,6.764185e+06,0.0
2018-02-08 06:00:00,7632.688235,7940.352941,7610.527059,7869.752941,1629.195135,1.280227e+07,13104.705882,868.623469,6.810494e+06,0.0
2018-02-08 07:00:00,7638.302941,7956.411765,7616.933235,7884.041765,1647.138104,1.297428e+07,13219.323529,872.684245,6.856803e+06,0.0
2018-02-08 08:00:00,7643.917647,7972.470588,7623.339412,7898.330588,1665.081074,1.314630e+07,13333.941176,876.745021,6.903112e+06,0.0
2018-02-08 09:00:00,7649.532353,7988.529412,7629.745588,7912.619412,1683.024043,1.331831e+07,13448.558824,880.805797,6.949422e+06,0.0
2018-02-08 10:00:00,7655.147059,8004.588235,7636.151765,7926.908235,1700.967013,1.349033e+07,13563.176471,884.866573,6.995731e+06,0.0
2018-02-08 11:00:00,7660.761765,8020.647059,7642.557941,7941.197059,1718.909982,1.366235e+07,13677.794118,888.927349,7.042040e+06,0.0
2018-02-08 12:00:00,7666.376471,8036.705882,7648.964118,7955.485882,1736.852952,1.383436e+07,13792.411765,892.988125,7.088349e+06,0.0
2018-02-08 13:00:00,7671.991176,8052.764706,7655.370294,7969.774706,1754.795921,1.400638e+07,13907.029412,897.048901,7.134658e+06,0.0
2018-02-08 14:00:00,7677.605882,8068.823529,7661.776471,7984.063529,1772.738891,1.417840e+07,14021.647059,901.109677,7.180968e+06,0.0
2018-02-08 15:00:00,7683.220588,8084.882353,7668.182647,7998.352353,1790.681860,1.435041e+07,14136.264706,905.170453,7.227277e+06,0.0
2018-02-08 16:00:00,7688.835294,8100.941176,7674.588824,8012.641176,1808.624830,1.452243e+07,14250.882353,909.231229,7.273586e+06,0.0
2018-02-08 17:00:00,7694.450000,8117.000000,7680.995000,8026.930000,1826.567799,1.469444e+07,14365.500000,913.292005,7.319895e+06,0.0
2018-02-08 18:00:00,7700.064706,8133.058824,7687.401176,8041.218824,1844.510768,1.486646e+07,14480.117647,917.352782,7.366204e+06,0.0
2018-02-08 19:00:00,7705.679412,8149.117647,7693.807353,8055.507647,1862.453738,1.503848e+07,14594.735294,921.413558,7.412514e+06,0.0
2018-02-08 20:00:00,7711.294118,8165.176471,7700.213529,8069.796471,1880.396707,1.521049e+07,14709.352941,925.474334,7.458823e+06,0.0
2018-02-08 21:00:00,7716.908824,8181.235294,7706.619706,8084.085294,1898.339677,1.538251e+07,14823.970588,929.535110,7.505132e+06,0.0
2018-02-08 22:00:00,7722.523529,8197.294118,7713.025882,8098.374118,1916.282646,1.555452e+07,14938.588235,933.595886,7.551441e+06,0.0
2018-02-08 23:00:00,7728.138235,8213.352941,7719.432059,8112.662941,1934.225616,1.572654e+07,15053.205882,937.656662,7.597750e+06,0.0
2018-02-09 00:00:00,7733.752941,8229.411765,7725.838235,8126.951765,1952.168585,1.589856e+07,15167.823529,941.717438,7.644060e+06,0.0
2018-02-09 01:00:00,7739.367647,8245.470588,7732.244412,8141.240588,1970.111555,1.607057e+07,15282.441176,945.778214,7.690369e+06,0.0
2018-02-09 02:00:00,7744.982353,8261.529412,7738.650588,8155.529412,1988.054524,1.624259e+07,15397.058824,949.838990,7.736678e+06,0.0
2018-02-09 03:00:00,7750.597059,8277.588235,7745.056765,8169.818235,2005.997494,1.641461e+07,15511.676471,953.899766,7.782987e+06,0.0
2018-02-09 04:00:00,7756.211765,8293.647059,7751.462941,8184.107059,2023.940463,1.658662e+07,15626.294118,957.960542,7.829297e+06,0.0
2018-02-09 05:00:00,7761.826471,8309.705882,7757.869118,8198.395882,2041.883433,1.675864e+07,15740.911765,962.021318,7.875606e+06,0.0
2018-02-09 06:00:00,7767.441176,8325.764706,7764.275294,8212.684706,2059.826402,1.693065e+07,15855.529412,966.082094,7.921915e+06,0.0
2018-02-09 07:00:00,7773.055882,8341.823529,7770.681471,8226.973529,2077.769372,1.710267e+07,15970.147059,970.142870,7.968224e+06,0.0
2018-02-09 08:00:00,7778.670588,8357.882353,7777.087647,8241.262353,2095.712341,1.727469e+07,16084.764706,974.203646,8.014533e+06,0.0
2018-02-09 09:00:00,7784.285294,8373.941176,7783.493824,8255.551176,2113.655311,1.744670e+07,16199.382353,978.264422,8.060843e+06,0.0
2018-02-09 10:00:00,7789.900000,8390.000000,7789.900000,8269.840000,2131.598280,1.761872e+07,16314.000000,982.325198,8.107152e+06,0.0
2018-02-09 11:00:00,8260.240000,8395.000000,8227.820000,8280.110000,1352.206959,1.123665e+07,13433.000000,623.420009,5.179743e+06,0.0
2018-02-09 12:00:00,8288.030000,8300.000000,8201.950000,8241.000000,1003.312642,8.279656e+06,11802.000000,459.939005,3.796031e+06,0.0
2018-02-09 13:00:00,8241.000000,8340.000000,8225.000000,8309.950000,1169.015154,9.691014e+06,13864.000000,540.895171,4.484504e+06,0.0
2018-02-09 14:00:00,8309.950000,8540.000000,8285.150000,8450.490000,2399.571661,2.024341e+07,22129.000000,1272.555210,1.073802e+07,0.0
2018-02-09 15:00:00,8460.970000,8510.000000,8312.000000,8333.910000,1471.127073,1.235436e+07,18496.000000,717.344824,6.023330e+06,0.0
2018-02-09 16:00:00,8333.980000,8432.510000,8312.000000,8383.110000,1189.651658,9.973053e+06,17029.000000,592.794942,4.969170e+06,0.0
2018-02-09 17:00:00,8383.110000,8718.000000,8372.690000,8625.000000,2086.817085,1.786679e+07,25787.000000,1281.655937,1.096336e+07,0.0
2018-02-09 18:00:00,8627.000000,8738.000000,8565.010000,8624.600000,1615.835729,1.397665e+07,27210.000000,845.848032,7.317401e+06,0.0
2018-02-09 19:00:00,8624.590000,8719.990000,8593.240000,8633.150000,1051.767967,9.118362e+06,20743.000000,528.013672,4.578336e+06,0.0
2018-02-09 20:00:00,8638.050000,8720.040000,8509.300000,8539.230000,1316.477151,1.133025e+07,24200.000000,677.339548,5.828915e+06,0.0
2018-02-09 21:00:00,8538.960000,8650.000000,8403.000000,8537.980000,1367.495742,1.165173e+07,24071.000000,677.582486,5.773035e+06,0.0
2018-02-09 22:00:00,8537.810000,8622.560000,8447.630000,8566.000000,1056.235550,9.003413e+06,21348.000000,477.398438,4.069327e+06,0.0
2018-02-09 23:00:00,8565.920000,8719.100000,8550.930000,8683.920000,1271.798174,1.100441e+07,16665.000000,726.928320,6.289248e+06,0.0
2018-02-10 00:00:00,8683.930000,8897.110000,8601.000000,8879.600000,2751.482468,2.421121e+07,25295.000000,1461.898697,1.286012e+07,0.0
2018-02-10 01:00:00,8878.940000,8950.000000,8750.000000,8780.360000,2365.600249,2.095878e+07,26636.000000,1256.320991,1.113308e+07,0.0

In [31]:
df.dropna().head(50)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 09:52:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,2011-12-31 17:50:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,2011-12-31 18:59:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,2011-12-31 19:00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,2012-01-01 06:16:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
1896,2012-01-01 17:28:00,4.84,4.84,4.84,4.84,10.000000,48.400000,4.840000
2333,2012-01-02 00:45:00,5.00,5.00,5.00,5.00,10.100000,50.500000,5.000000
3612,2012-01-02 22:04:00,5.00,5.00,5.00,5.00,19.048000,95.240000,5.000000
4553,2012-01-03 13:45:00,5.32,5.32,5.32,5.32,2.419173,12.870000,5.320000
4710,2012-01-03 16:22:00,5.14,5.14,5.14,5.14,0.680000,3.495200,5.140000
4742,2012-01-03 16:54:00,5.26,5.26,5.26,5.26,29.319392,154.220000,5.260000
4780,2012-01-03 17:32:00,5.29,5.29,5.29,5.29,29.302457,155.010000,5.290000
4878,2012-01-03 19:10:00,5.29,5.29,5.29,5.29,11.285444,59.700000,5.290000
4882,2012-01-03 19:14:00,5.14,5.14,5.14,5.14,0.020000,0.102800,5.140000
4894,2012-01-03 19:26:00,5.29,5.29,5.29,5.29,11.000000,58.190000,5.290000
4895,2012-01-03 19:27:00,5.29,5.29,5.29,5.29,4.010815,21.217210,5.290000
5545,2012-01-04 06:17:00,4.93,4.93,4.93,4.93,2.320000,11.437600,4.930000
5593,2012-01-04 07:05:00,4.93,4.93,4.93,4.93,9.680000,47.722400,4.930000
6049,2012-01-04 14:41:00,5.19,5.19,5.19,5.19,2.641618,13.710000,5.190000
6065,2012-01-04 14:57:00,5.19,5.19,5.19,5.19,8.724470,45.280000,5.190000
6227,2012-01-04 17:39:00,5.19,5.19,5.19,5.19,16.344726,84.829128,5.190000
6241,2012-01-04 17:53:00,5.32,5.32,5.32,5.32,0.186090,0.990000,5.320000
6242,2012-01-04 17:54:00,5.32,5.32,5.32,5.32,10.394737,55.300000,5.320000
6248,2012-01-04 18:00:00,5.36,5.37,5.36,5.37,13.629423,73.060000,5.360462
6359,2012-01-04 19:51:00,5.37,5.57,5.37,5.57,43.312196,235.747069,5.442972
6828,2012-01-05 03:40:00,5.72,5.72,5.72,5.72,5.000000,28.600000,5.720000
6960,2012-01-05 05:52:00,5.75,5.75,5.75,5.75,5.200000,29.900000,5.750000
7167,2012-01-05 09:19:00,5.75,5.79,5.75,5.79,14.800000,85.500000,5.777027
7266,2012-01-05 10:58:00,6.00,6.00,6.00,6.00,2.236667,13.420000,6.000000
7271,2012-01-05 11:03:00,6.00,6.00,6.00,6.00,0.168483,1.010896,6.000000
7316,2012-01-05 11:48:00,6.15,6.15,6.15,6.15,10.000000,61.500000,6.150000
7336,2012-01-05 12:08:00,6.19,6.19,6.19,6.19,0.571890,3.540000,6.190000
7338,2012-01-05 12:10:00,6.19,6.23,6.19,6.23,16.000000,99.285719,6.205357
7376,2012-01-05 12:48:00,6.23,6.25,6.23,6.25,14.000000,87.420000,6.244286
7408,2012-01-05 13:20:00,6.46,6.46,6.46,6.46,0.773994,5.000000,6.460000
7409,2012-01-05 13:21:00,6.46,6.46,6.46,6.46,0.178019,1.150000,6.460000
7416,2012-01-05 13:28:00,6.43,6.43,6.43,6.43,0.311042,2.000000,6.430000
7515,2012-01-05 15:07:00,6.44,6.44,6.44,6.44,0.310559,2.000000,6.440000
7546,2012-01-05 15:38:00,6.43,6.43,6.43,6.43,0.466563,3.000000,6.430000
7599,2012-01-05 16:31:00,6.42,6.42,6.42,6.42,0.311526,2.000000,6.420000
8098,2012-01-06 00:50:00,6.43,6.43,6.43,6.43,0.311526,2.003115,6.430000
8143,2012-01-06 01:35:00,6.44,6.44,6.44,6.44,0.466563,3.004666,6.440000
8147,2012-01-06 01:39:00,6.47,6.47,6.47,6.47,0.952012,6.159520,6.470000
8149,2012-01-06 01:41:00,6.65,6.65,6.65,6.65,20.777444,138.170000,6.650000
8151,2012-01-06 01:43:00,6.65,6.65,6.65,6.65,1.466276,9.750733,6.650000
8154,2012-01-06 01:46:00,6.65,6.65,6.65,6.65,0.499266,3.320117,6.650000
8530,2012-01-06 08:02:00,6.65,6.65,6.65,6.65,1.425498,9.479559,6.650000
8532,2012-01-06 08:04:00,6.69,6.73,6.69,6.73,6.310000,42.363858,6.713765
8968,2012-01-06 15:20:00,6.80,6.90,6.80,6.90,9.310559,63.611801,6.832221
9089,2012-01-06 17:21:00,6.76,6.76,6.76,6.76,0.295858,2.000000,6.760000

In [222]:
test_csv = pd.read_csv('test_csv_missing_fill.csv')

In [223]:
pd.to_datetime(test_csv['Open_time'][0]) + timedelta(hours=1) - timedelta(milliseconds=1)

Timestamp('2018-05-04 08:59:59.999000')

In [224]:
test_csv[1260:1310]

,Open_time,Open,High,Low,Close,Volume,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Currency,Interval,Close_time,Source
1260,2018-06-25 20:00:00,0.476210,0.481230,0.475610,0.478980,9.505695e+05,4.543304e+05,579.000000,6.546835e+05,312871.989834,XRPUSDT,1h,2018-06-25 20:59:59,binance_api
1261,2018-06-25 21:00:00,0.477740,0.481000,0.475570,0.481000,1.289562e+06,6.170606e+05,769.000000,8.381428e+05,401054.184168,XRPUSDT,1h,2018-06-25 21:59:59,binance_api
1262,2018-06-25 22:00:00,0.480030,0.481770,0.477600,0.479370,1.040342e+06,4.995256e+05,603.000000,6.380047e+05,306486.867404,XRPUSDT,1h,2018-06-25 22:59:59,binance_api
1263,2018-06-25 23:00:00,0.479370,0.482450,0.478230,0.481250,1.066048e+06,5.123654e+05,644.000000,7.568703e+05,363837.400675,XRPUSDT,1h,2018-06-25 23:59:59,binance_api
1264,2018-06-26 00:00:00,0.481250,0.482410,0.474010,0.474010,1.075179e+06,5.151238e+05,649.000000,5.937321e+05,284885.002979,XRPUSDT,1h,2018-06-26 00:59:59,binance_api
1265,2018-06-26 01:00:00,0.475130,0.480000,0.474000,0.478790,1.081063e+06,5.157564e+05,838.000000,7.597208e+05,362576.795443,XRPUSDT,1h,2018-06-26 01:59:59,binance_api
1266,2018-06-26 02:00:00,0.475386,0.479925,0.473927,0.478634,1.096367e+06,5.230955e+05,842.363636,7.481167e+05,357061.517596,XRPUSDT,1h,2018-06-26 02:59:59,pandas_interpolate
1267,2018-06-26 03:00:00,0.475643,0.479849,0.473855,0.478477,1.111671e+06,5.304346e+05,846.727273,7.365127e+05,351546.239750,XRPUSDT,1h,2018-06-26 03:59:59,pandas_interpolate
1268,2018-06-26 04:00:00,0.475899,0.479774,0.473782,0.478321,1.126975e+06,5.377737e+05,851.090909,7.249086e+05,346030.961903,XRPUSDT,1h,2018-06-26 04:59:59,pandas_interpolate
1269,2018-06-26 05:00:00,0.476155,0.479698,0.473709,0.478165,1.142279e+06,5.451128e+05,855.454545,7.133045e+05,340515.684057,XRPUSDT,1h,2018-06-26 05:59:59,pandas_interpolate
1270,2018-06-26 06:00:00,0.476412,0.479623,0.473636,0.478008,1.157583e+06,5.524519e+05,859.818182,7.017005e+05,335000.406210,XRPUSDT,1h,2018-06-26 06:59:59,pandas_interpolate
1271,2018-06-26 07:00:00,0.476668,0.479547,0.473564,0.477852,1.172886e+06,5.597910e+05,864.181818,6.900964e+05,329485.128364,XRPUSDT,1h,2018-06-26 07:59:59,pandas_interpolate
1272,2018-06-26 08:00:00,0.476925,0.479472,0.473491,0.477695,1.188190e+06,5.671301e+05,868.545455,6.784924e+05,323969.850517,XRPUSDT,1h,2018-06-26 08:59:59,pandas_interpolate
1273,2018-06-26 09:00:00,0.477181,0.479396,0.473418,0.477539,1.203494e+06,5.744692e+05,872.909091,6.668883e+05,318454.572671,XRPUSDT,1h,2018-06-26 09:59:59,pandas_interpolate
1274,2018-06-26 10:00:00,0.477437,0.479321,0.473345,0.477383,1.218798e+06,5.818083e+05,877.272727,6.552842e+05,312939.294824,XRPUSDT,1h,2018-06-26 10:59:59,pandas_interpolate
1275,2018-06-26 11:00:00,0.477694,0.479245,0.473273,0.477226,1.234102e+06,5.891474e+05,881.636364,6.436802e+05,307424.016978,XRPUSDT,1h,2018-06-26 11:59:59,pandas_interpolate
1276,2018-06-26 12:00:00,0.477950,0.479170,0.473200,0.477070,1.249406e+06,5.964865e+05,886.000000,6.320761e+05,301908.739131,XRPUSDT,1h,2018-06-26 12:59:59,binance_api
1277,2018-06-26 13:00:00,0.477390,0.481900,0.469770,0.474500,1.325960e+06,6.305212e+05,1041.000000,7.569982e+05,360175.013174,XRPUSDT,1h,2018-06-26 13:59:59,binance_api
1278,2018-06-26 14:00:00,0.474210,0.476200,0.466810,0.473950,1.469781e+06,6.931855e+05,989.000000,9.611506e+05,453547.306420,XRPUSDT,1h,2018-06-26 14:59:59,binance_api
1279,2018-06-26 15:00:00,0.473820,0.473990,0.469800,0.471920,1.066108e+06,5.033160e+05,723.000000,6.925030e+05,327047.555978,XRPUSDT,1h,2018-06-26 15:59:59,binance_api
1280,2018-06-26 16:00:00,0.473000,0.476000,0.469000,0.470090,1.324759e+06,6.243631e+05,1038.000000,7.495346e+05,353431.227432,XRPUSDT,1h,2018-06-26 16:59:59,binance_api
1281,2018-06-26 17:00:00,0.470170,0.471920,0.464700,0.470240,1.292703e+06,6.061176e+05,986.000000,6.200646e+05,290907.398067,XRPUSDT,1h,2018-06-26 17:59:59,binance_api
1282,2018-06-26 18:00:00,0.470240,0.471090,0.466930,0.466930,1.249792e+06,5.869291e+05,618.000000,8.280875e+05,389073.882973,XRPUSDT,1h,2018-06-26 18:59:59,binance_api
1283,2018-06-26 19:00:00,0.466930,0.469470,0.466000,0.468130,1.070398e+06,5.006545e+05,654.000000,7.314170e+05,342343.360847,XRPUSDT,1h,2018-06-26 19:59:59,binance_api
1284,2018-06-26 20:00:00,0.467560,0.470000,0.467120,0.468600,1.256229e+06,5.885164e+05,571.000000,6.731052e+05,315399.053824,XRPUSDT,1h,2018-06-26 20:59:59,binance_api
1285,2018-06-26 21:00:00,0.468600,0.473500,0.467390,0.469700,1.240652e+06,5.822781e+05,699.000000,5.473618e+05,257091.521367,XRPUSDT,1h,2018-06-26 21:59:59,binance_api
1286,2018-06-26 22:00:00,0.469830,0.471020,0.461000,0.465100,1.350067e+06,6.280183e+05,1220.000000,8.422622e+05,391753.850396,XRPUSDT,1h,2018-06-26 22:59:59,binance_api
1287,2018-06-26 23:00:00,0.465100,0.465100,0.451100,0.453000,1.618582e+06,7.395478e+05,1474.000000,7.370924e+05,336629.425778,XRPUSDT,1h,2018-06-26 23:59:59,binance_api
1288,2018-06-27 00:00:00,0.452180,0.461660,0.447870,0.459000,2.263957e+06,1.026706e+06,1574.000000,1.198541e+06,543769.789939,XRPUSDT,1h,2018-06-27 00:59:59,binance_api
1289,2018-06-27 01:00:00,0.459000,0.460870,0.455000,0.457220,1.170748e+06,5.351746e+05,677.000000,8.821969e+05,403321.569571,XRPUSDT,1h,2018-06-27 01:59:59,binance_api
1290,2018-06-27 02:00:00,0.457180,0.458110,0.455510,0.455890,9.320958e+05,4.254905e+05,519.000000,5.555979e+05,253669.808410,XRPUSDT,1h,2018-06-27 02:59:59,binance_api
1291,2018-06-27 03:00:00,0.456130,0.456900,0.451360,0.451510,1.285690e+06,5.849400e+05,821.000000,7.230209e+05,329081.921835,XRPUSDT,1h,2018-06-27 03:59:59,binance_api
1292,2018-06-27 04:00:00,0.451980,0.455790,0.451340,0.454580,1.034985e+06,4.701029e+05,609.000000,6.114579e+05,277765.652799,XRPUSDT,1h,2018-06-27 04:59:59,binance_api
1293,2018-06-27 05:00:00,0.455170,0.459670,0.454190,0.457720,1.046092e+06,4.778654e+05,655.000000,6.800749e+05,310706.046962,XRPUSDT,1h,2018-06-27 05:59:59,binance_api
1294,2018-06-27 06:00:00,0.457740,0.459320,0.455840,0.456210,1.053170e+06,4.819988e+05,644.000000,6.304467e+05,288618.593809,XRPUSDT,1h,2018-06-27 06:59:59,binance_api
1295,2018-06-27 07:00:00,0.456520,0.459940,0.455530,0.459260,9.948261e+05,4.557422e+05,636.000000,6.404927e+05,293522.606880,XRPUSDT,1h,2018-06-27 07:59:59,binance_api
1296,2018-06-27 08:00:00,0.459260,0.464600,0.458060,0.459980,1.205936e+06,5.544009e+05,740.000000,8.014479e+05,368597.741746,XRPUSDT,1h,2018-06-27 08:59:59,binance_api
1297,2018-06-27 09:00:00,0.459590,0.462520,0.458640,0.462520,1.361388e+06,6.264233e+05,659.000000,9.661956e+05,444543.007536,XRPUSDT,1h,2018-06-27 09:59:59,binance_api
1298,2018-06-27 10:00:00,0.462520,0.471800,0.461400,0.466260,1.412045e+06,6.570984e+05,1342.000000,7.858840e+05,365901.926874,XRPUSDT,1h,2018-06-27 10:59:59,binance_api
1299,2018-06-27 11:00:00,0.466260,0.466990,0.460840,0.462500,1.070474e+06,4.959480e+05,666.000000,6.547972e+05,303400.106127,XRPUSDT,1h,2018-06-27 11:59:59,binance_api
1300,2018-06-27 12:00:00,0.462770,0.463120,0.458350,0.461030,1.194687e+06,5.506346e+05,710.000000,5.969944e+05,275182.918478,XRPUSDT,1h,2018-06-27 12:59:59,binance_api
1301,2018-06-27 13:00:00,0.461895,0.462070,0.455295,0.459600,8.390791e+05,3.857870e+05,628.000000,3.724952e+05,171439.731001,XRPUSDT,1h,2018-06-27 13:59:59,pandas_interpolate
1302,2018-06-27 14:00:00,0.461020,0.461020,0.452240,0.458170,4.834709e+05,2.209394e+05,546.000000,1.479961e+05,67696.543523,XRPUSDT,1h,2018-06-27 14:59:59,binance_api
1303,2018-06-27 15:00:00,0.458170,0.467850,0.458170,0.463490,1.371063e+06,6.350086e+05,1107.000000,7.158273e+05,331810.875026,XRPUSDT,1h,2018-06-27 15:59:59,binance_api
1304,2018-06-27 16:00:00,0.463880,0.471510,0.461090,0.471030,1.374218e+06,6.412527e+05,906.000000,8.608257e+05,401574.764144,XRPUSDT,1h,2018-06-27 16:59:59,binance_api
1305,2018-06-27 17:00:00,0.470420,0.471020,0.467730,0.468050,2.019406e+06,9.470697e+05,814.000000,1.374434e+06,644766.508999,XRPUSDT,1h,2018-06-27 17:59:59,binance_api
1306,2018-06-27 18:00:00,0.468000,0.468760,0.466160,0.467680,1.655456e+06,7.736765e+05,757.000000,8.398212e+05,392637.047440,XRPUSDT,1h,2018-06-27 18:59:59,binance_api
1307,2018-06-27 19:00:00,0.467630,0.471980,0.466970,0.470570,1.576950e+06,7.386126e+05,755.000000,1.045409e+06,489670.852262,XRPUSDT,1h,2018-06-27 19:59:59,binance_api
1308,2018-06-27 20:00:00,0.470270,0.471530,0.466690,0.467740,1.210720e+06,5.678549e+05,582.000000,6.510518e+05,305282.622685,XRPUSDT,1h,2018-06-27 20:59:59,binance_api
1309,2018-06-27 21:00:00,0.467800,0.470320,0.467660,0.469140,1.275974e+06,5.979427e+05,608.000000,5.924712e+05,277741.237042,XRPUSDT,1h,2018-06-27 21:59:59,binance_api

#####

In [198]:
test_csv.dtypes

Open_time                        object
Open                            float64
High                            float64
Low                             float64
Close                           float64
Volume                          float64
Quote_asset_volume              float64
Number_of_trades                float64
Taker_buy_base_asset_volume     float64
Taker_buy_quote_asset_volume    float64
Currency                         object
Interval                         object
Close_time                       object
Source                           object
Open_time.1                      object
dtype: object

In [229]:
test = pd.read_csv('test_file.csv')
null_values = test.isnull()

In [264]:
print(*[el.strftime('%Y-%m-%d %H:%M:%S') for el in btc_data_2['Open time']])

2023-03-24 00:00:00 2023-03-24 01:00:00 2023-03-24 02:00:00 2023-03-24 03:00:00 2023-03-24 04:00:00 2023-03-24 05:00:00 2023-03-24 06:00:00 2023-03-24 07:00:00 2023-03-24 08:00:00 2023-03-24 09:00:00 2023-03-24 10:00:00 2023-03-24 11:00:00 2023-03-24 12:00:00 2023-03-24 14:00:00 2023-03-24 15:00:00 2023-03-24 16:00:00 2023-03-24 17:00:00 2023-03-24 18:00:00 2023-03-24 19:00:00 2023-03-24 20:00:00 2023-03-24 21:00:00 2023-03-24 22:00:00 2023-03-24 23:00:00

In [265]:
[1, 2, 3, 4][-6:]

[1, 2, 3, 4]

In [10]:
params = {'company_id': 1}
params

{'company_id': 1}

In [12]:
params.keys()

TypeError: 'dict_keys' object is not subscriptable

In [13]:
key, value = next(iter(params.items()))

In [14]:
key, value

('company_id', 1)